//背景颜色
$color-background = #EFEFEF
$color-background-content = #ffffff
$color-start = #FD7049
$color-middle = #FDA86A
$color-end = #FDA990
$color-gap = #E5E5E5

//字体颜色
$color-text = #333333
$color-text-gray = #999999

//字体定义规范
$font-size-small-s = 10px
$font-size-small = 12px
$font-size-medium = 14px
$font-size-medium-x = 16px
$font-size-large = 18px
$font-size-large-x = 20px
$font-size-large-xl = 30px

//行高定义规范
$button-height = 45px
$line-height-m = 70px
$line-height-l = 80px

//留白和导航条高度
$nav-height = 44px
$nav-blank = 20px
$nav = 64px
$nav-type = 135px
$tasktype-height = 35px
$section-gap = 10px
$li-gap = 12px